
     body {
        background-color: rgba(94, 92, 93, 0.893);
        color: rgb(131,148,150);
      }

      h1{
        background-color: rgb(7, 54, 66);
        color: rgb(131,148,150);
      }

      footer{
        background-color: rgb(7, 54, 66);
        color: rgb(131,148,150);
      }

      a{
        color:rgb(211, 54,130);
      }

      /* mouse over link */
    a:hover {
        color:orange;
    }